*{
	padding:0px;
	margin: 0px;
}
.box1{
	width:1600px;
	height:100px;
	margin: 0 auto;
}
.box1 img{
	padding:44px 0px 0px 180px;
}
.dao{
	margin-left:160px;
}
 .h0{
	color:#0b4199;
	font-size: 22px;
	float:right;
	padding:70px 150px 0px 0px;
}
.h1{
	font-size: 16px;
	color:#9a9a9a;
	padding:77px 120px 0px 0px;
	float:right;
}
.box1{
	width:1600px;
	height:80px;
	margin:0 auto;
}
.box2{
	padding-top: 65px;
	width:1600px;
	height:50px;
     margin:0 auto;
}
.sou{
	left:300px;
	top: 13px;
    position: relative;
}
.box2 ul{
    display: block;
}
.box2 li{
	float:left;
	list-style: none;
	padding-right: 40px;
}
.box2 li a{
	display: block;
    width: 81px;
    height: 50px;
    line-height: 50px;
    text-align:center; 
    font-size: 16px;
    text-decoration: none;
     color: #ababab;
    
}
.final a{
	display: block;
    width: 81px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align:center;


   }
  .box2 li a:hover{
  	background-color: #2756a4;
    text-decoration: none;
  
  } 
  .i1{
  	float: right;
    margin: 0px;
    height: 38px;
    line-height: 38px;
    width: 255px;
    background-color:#ebeaea;
    padding-left: 10px;
    margin-right: 120px;
    margin-top: 0px;
  }
.n1{
	width:1600px;
	height:2056PX;px;
    background-color:#f9f9f9;
	margin:0 auto;
}
.f{
float: right;
padding-right: 90px;
top:303px;
right:70px;
position:fixed;
}
.n01{
	padding-left:180px;
	padding-top: 22px;
	padding-bottom: 63px;
}
.n02{
padding-left:180px;
padding-bottom:16px;
}
.n03{
	padding-left:180px;
}
.n04{
	padding-left: 180px;
}
.n05{
	width:1200px;
	height:557px;
	background-color: white;
	margin-left: 180px;
	box-shadow:0px 10px 5px #aaa;
}
.n06{
	padding-top: 22px;
	padding-left: 22px;
    color:#728abb;
}
.n06 span{
	float:right;
	padding-right: 20px;

}
.n07{
	padding-top: 22px;
	padding-left: 22px;
	float:right;
	color:#728abb;
}
.n08{
	float:left;
	padding:20px 0px 0px 0px;
}
.p00{
	width:700px;
	height:237px;
	margin-right:100px;
	margin-left: 480px;
	margin-top: 50px;
}
.p0{
	font-size:20px;
	color:black;
    padding:0px;
    float:left;
}
.p0 span{
	float:right;
	padding-left:80px;
	padding-top: 10px;
	color:#bcbcbc;
	font-size: 12px;
}
.p1{
	padding:70px 0px 0px 0px;
	font-size: 16px;
	color:black;
}
.p3{
	padding-top:30px;
	padding-left: 30px;
}
.p2{
	padding-top: 70px;
	padding-left: 600px;
	font-size: 14px;
	color: red;
}
.p3 li{
	list-style: url(images/p1_03.jpg) inside;
	padding-bottom:25px;
    font-size: 16px;
}
.p3 li span{
	float:right;
	padding-right:30px;
	color:#bcbcbc;
	font-size: 12px;
}
.n201{
	width:1200px;
	height:557px;
	background-color:white;
	margin-left: 180px;
	margin-top: 40px;
}
.n202{
	width:1200px;
	height:557px;
	background-color:white;
	margin-left: 180px;
	margin-top: 40px;
}
.w1{
	width: 1600px;
	height:60px;
	background-color: #0b4199;
	margin:0 auto;
}
.w1 img{
	padding:10px 0px 0px 190px;
}
.w2{
	width: 1600px;
	height:380px;
	background-color: #454545;
	margin:0 auto;
}
.k1
{
	width:200px;
	height:180px;
	float:left;
	padding-left: 100px;
}
.w2101{
 color:white;
 font-size: 18px;
 padding-top: 60px;
 padding-left: 80px;
}
.w2103{
 color:white;
 font-size: 18px;
 padding-top: 0px;
 padding-left: 80px;
}
.w2102{
 color:white;
 font-size: 14px;
 padding-top: 10px;
  padding-left: 80px;
}
.k1 p{
	color:white;
}
.k2
{
	width:200px;
	height:180px;
    float: left;
    padding-left: 
}
.w3{
	height:400px;
	width:300px;
	float:right;
	padding-right:180px;
}
.w3 img{
	padding: 60px 0px 0px 70px;
}
.last{
	padding:350px 350px 0px 350px;
	color:white;
	font-size:12px;
	color:#9a9a9a;
}
.last span{
	color:white;
	font-size:12px;
	color:#9a9a9a;
	float:right;
}
.mao{
	width:1200px;
	height:1500px;
	background-color:white;
	margin:0 auto;
}
.mao h2{
	font-size: 24px;
	font-style: '微软雅黑';
	text-align:center;
	padding-top: 40px;
}
.m1{
	color:#bcbcbc;
	font-size: 12px;
	padding-top: 20px;
	padding-left:450px;
}
.m2{
	padding-left: 60px;
	padding-top: 10px;
}
.m3{
	float:right;
	position: relative;
	right:100px;
}
.m4{
	float:right;
	color:#bcbcbc;
	font-size: 12px;
	float:left;
	position: relative;
	left:700px;
	bottom:15px;
}
.m5{
	font-size:20px;
	padding:10px 60px 0px 60px;
}
.m6{
	padding:40px 0px 0px 180px;
}
.nn1{
	width:1600px;
	height:2000PX;
    background-color:#f9f9f9;
	margin:0 auto;
}
.m7{
	color:#708ec1;
	font-size: 16px;
	padding:80px 0px 0px 60px;
}
.m8{
	color:#708ec1;
	font-size: 16px;
	padding:0px 0px 0px 60px;
}