/*ul,li,ol{
	list-style: none;	
}*/
a{
	text-decoration: none; 
}
/*body{
	transform: scale(0.89) translate(-40px, -100px);
}*/
.all{
	width: 100%;
	height: 2885px;
	background-color: #f9f9f9;
}
.bai{
	width: 100%;
	height: 152px;
	background-color: white;
}
.you1{
	width: 1200px;
	height: 2520px;
	margin:0 auto;
}
.you2{
	width: 1200px;
	height: 2520px;
	margin: 0 auto;
	border-top: solid #f9f9f9 5px;
	background-color: white;
}

/*头部*/
.header{
	height: 65px;
	width: 1200px;
	margin-left: 200px;
	padding-top:35px;
	margin:0 auto;
}
.logo{
	float: left;
	margin-right: 200px;
}
.yonghu{
	float: right;
	margin-left: 15px;
	margin-top: 22px;
	color:#7d7d7d;
	font-size: 15px;
}
.yuyan{
	float: right;
	color: red;
	font-size: 15px;
	margin-top: 22px;
}
.bu{
	float: right;
	color: #7d7d7d;
	margin-top: 22px;
	font-size: 15px;
}
.tel{
	color:#0b4199;
	font-size: 20px;
	float: right;
	margin-top: 20px;
}

/*导航*/
.daohang{
	width:1200px;
	height:50px;
	margin-left: 180px;
	margin:0 auto;
}
.dh{
	padding-left: 0px;
	list-style: none;
	margin: 0px;
	width: 1220px;
	height: 50px;
	position: relative;
	right: 20px;
}
.dh li{
	float: left;
	width: 80px;
	height: 50px;
	font-size: 15px;
	text-align: center ;
	line-height: 50px;
	margin-right: 35px;
}
.jishu{
	float: left;
	width: 80px;
	height: 50px;
	font-size: 15px;
	text-align: center ;
	line-height: 50px;
	color: white;
	margin-right: 35px;
	background: #0b4199;
}
.sousuo{
	float: right;
	width: 255px;
	height: 40px;
	background-color: #ebeaea;
}
.sslogo{
	float: right;
	position: relative;
	left: 235px;
	top: 10px;
}
/*内容*/
.tiao2{
	width: 1200px;
	margin: 0 auto;
}
.xinxi1{
	margin-top: 20px;
	margin-bottom: 70px;
	float: left;
	color: #a0a0a0;
	font-size: 13px;
}
.xinxi2{
	margin-top: 20px;
	margin-bottom: 70px;
	float: left;
	color: #0b4199;
	font-size: 13px;
}
.a1{
	float: left;
	width: 1200px;
	height: 65px;
	border-bottom: dashed #cfcfcf;
}
.a2{
	margin: 0px;
	width: 1200px;
}
.xtb{
	float: right;
	margin-right: 30px;
	width: 145px;
	height: 40px;
}
.xtb1{
	float: left;
	margin-left: 5px;
}
.xdh{
	margin-top: 60px;
	float: left;
}
.yi{
	width: 1140px;
	height: 530px;
	margin-top: 250px;
	margin-left: 30px;
}
.xjt{
	float: left;
	position: relative;
	top: 265px;
}
.tu1{
	float: left;
}
.wen1{
	float: right;
	width: 435px;
	height: 345px;
	margin-top: 55px;
}
.sy{
	margin-top: 0px;
	margin-bottom: 25px;
}
.wz{
	line-height: 30px;
	font-size: 14px;
	margin: 0;
}
.sybj{
	padding-top: 15px;
	font-size: 16px;
	font-family:Microsoft YaHei;
	font-weight: bold;
	width: 230px;
	height: 36px;
	float: right;
	text-align: center;
	color: white;
	background-color: #2756a4;
	border-radius: 8px;
}
.er{
	width: 1200px;
	height: 490px;
	border-top: #949494 4px solid;
}
.gntd{
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	color: #2756a4;
}
.dli1{
	margin-left: 30px;
	margin-bottom: 0;
	width: 1140px;
	height:91px;
	padding: 0;
}
.dli1 li{
	background: url(image/hd.png) no-repeat left center;
	display: inline;
	width: auto;
	font-size: 16px;
}
.zcbt{
	margin-left: 30px;
	margin-bottom: 15px;
	margin-top: 0px;
}
.wen2{
	width: 1170px;
	float: left;
	font-size: 16px;
	margin-left: 30px;
	margin-top: 0;
	margin-bottom: 0;
}
.tu2{
	float: right;
}
.san{
	width: 1200px;
	height: 304px;
}
.dxyy{
	list-style-position: inside;
	margin-top: 22px;
	width: 1090px;
	height: 138px;
	line-height: 30px;
	font-size: 16px;
}
.si{
	width: 1140px;
	height: 385px;
	margin: 0 auto;
}
.xgcp{
	float: left;
	width: 1140px;
	margin-top: 65px;
	margin-bottom: 20px;
}
.hui{
	float: left;
	width: 300px;
	height: 200px;
	border: 2px #c9c9c9 solid;
}
.kong{
	float: left;
	width: 114px;
	height: 204px;
}
.hei{
	font-size: 14px;
	width: 299;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
	font-family: Microsoft YaHei;
}
.ckxq{
	margin-left: 120px;
	font-size: 14px;
	color: #0b4199;
	font-family: Microsoft YaHei;
	text-decoration: underline;
}
.dibu{
	height: 445px;
	width: 1200px;
	background-color: #f9f9f9;
}

/*结尾*/
.lt{
	width: 100%;
	height: 60px;
	background-color:#0b4199; 
}
.tiao{
	width: 1200px;
	margin: 0 auto;
}
.r{
	float: right;
	margin-top: 13px;
	margin-left: 16px;
}
.q{
	float: right;
	color: white;
	font-size: 15px;
	margin-top: 20px;
}
.jw{
	width: 100%;
	height: 308px;
	background-color:#454545;
}
.tiao1{
	width: 1200px;
	margin: 0 auto;
}
.xk{
	float: left;
	padding-left: 0px;
	margin: 0px;
	padding-top: 56px;
	width:185px;
	height:160px;
}
.tt{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 25px;
	color: white;
}
.xk li{
	height: 25px;
	font-size: 12px;
	color: white;
}
.xl{
	float: left;
	margin-top: 34px;
	margin-right: 125px;
	margin-bottom: 6px;
}
.zi{
	float: left;
	font-size: 15px;
	color: white;
	margin-top: 0px;
	margin-right: 100px;
	margin-bottom: 30px;
}
.da{
	float: left;
	font-size: 15px;
	color: white;
	margin: 0px;
	width: 60px;
	height: 48px;
}
.xiang{
	float: left;
	width: 215px;
	height: 24px;
	margin: 0px;
	color: white;
	font-size: 12px;
}
.dah{
	margin-top: 16px;
	margin-right: 151px;
}
.di{
	font-size: 10px;
	color: #a0a0a0;
	margin-top: 55px;
	margin-left: 130px;
	margin-bottom: 0px;
	float: left;
	width: 380px;
	height: 15px;
}
.di1{
	font-size: 10px;
	color: #a0a0a0;
	margin-top: 55px;
	margin-bottom: 0px;
	float: left;
	width: 600px;
	height: 15px;
}