*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style:none;
}
a{
	text-decoration: none;
}
.box{
	margin:0 auto;
	width:1300px;
	height:1619px;
	background-color: #f9f9f9;
}
.head{
	margin:0 auto;
	width:1300px;
	height:153px;
	background-color:#fff;
}
.logo img{
	position:relative;
	left:100px;
	top:34px;
}
.a2{
	width:220px;
	height:40px;
	left: 750px;
	position:relative;
	top:-10px;
	font-size: 22px;
	color:#0b4199;
}
.a1{
	width:270px;
	height:25px;
	font-size: 16px;
	color:#7d7d7d;
	position:relative;
	top:-47px;
	left:980px;
}
.a3{
	position:relative;
	top:-25px;
	left:80px;
	width:1210px;
	height:48px;
}
.a3 ul li{
	float:left;
	list-style-type: none;
	margin-right: 27px;
}
.a3 ul li a{
	color:#282828;
	text-align: center;
	margin-top: 10px;
	display:block;
	width:84px;
	height:53px;
	line-height: 53px;
	margin:0 auto;
}
.a3 ul li a:hover{
	background:#2756a4;
	color:#fff;
}
.a3 input{
	margin-left: 55px;
	width:200px;
	border:1px solid #e2e2e2;
	height:37px;
	background-color: #ebeaea;
	background-image: url(images/sousuo.png);
	background-repeat: no-repeat;
	padding:0 0 0 10px;
}
.a1 select{
	border:0;
	background-color: transparent;
    color:#ef2c34;    
   -webkit-appearance:none;
}
p{
	width:180px;
	font-size: 14px;
	position:relative;
	top:0px;
	left:100px;
}
a{
	color:#999;
}
a:hover{
	color:#0b4199;
}
.aa{
	color:#3e3e3e;
	font-size: 24px;
	position:relative;
	top:40px;
	left:100px;
}
.bb{
	color:#666;
	font-size: 14px;
	position:relative;
	top:45px;
	left:100px;
}
.cc{
	margin-top:70px;
	margin-left:83px;
	width:1150px;
	height:0;
	border-top:1px #cfcfcf dashed;
}
.dd{
	width:1150px;
	height:202px;
	position:relative;
	top:10px;
	left:83px;
}
.dd img{
	width:1150px;
	height:202px;
}
.b1{
	line-height: 30px;
	width:1100px;
	color:#2756a4;
	font-size: 20px;
	position:relative;
	top:60px;
	left:110px;
}
.b1 span{
	text-indent: 2em;
	font-size: 16px;
	color:#666;
}
.c1{
	width:1100px;
	height:456px;
	text-align: center;
}
.c1 ul{
	margin-top: 10px;
	width:1100px;
	height:446px;
}
.c1 ul li{
	margin-left: 10px;
	float:left;
	width:250px;
	height:446px;
	background-color: #fff;
}
.c1 ul li:hover{
	box-shadow: 2px 4px 6px #d2d2d2;
}
.c1 img{
	margin-top:10px; 
	width:230px;
}
.c1 ul li p{
	width:230px;
	position:relative;
	left:10px;
	top:10px;
	text-align: left;
	border-top:dashed #d9d9d9 0.5px;
	color:#2756a4;
	font-size: 14px;
	line-height: 50px;
}
.c1 a{
	text-align: left;
	font-size:14px;
	color:##2756a4;	
}
.c1 span{
	position:relative;
	top:10px;
	left:0px;
	text-align:center;
	font-size: 16px;
	color:#2756a4;
}
.d1{
	margin: auto;
	position:relative;
	top:95px;
	left:-110px;
	width:1300px;
	height:61px;
	background-color:#0b4199;
}
.d2{
	position:relative;
	left:199px;
	top:17px;
}
.d3{
	position:relative;
	top:-15px;
	left:240px;
	font-size: 16px;
	color:#fff;
}
.d4{
	position:relative;
	left:500px;
	top:-40px;
}
.d5{
	position:relative;
	left:550px;
	top:-70px;
	font-size: 16px;
	color:#fff;
}
.d6{
	position:relative;
	left:950px;
	top:-103px;
	font-size: 16px;
	color:#fff;
}
.d7{
	position:relative;
	top:-135px;
	left:1020px;
	float:left;
}
.e1{
	margin:auto;
	position:relative;
	left:-110px;
	top:95px;
	width:1300px;
	height:308px;
	background-color:#454545; 
}
.e1 ul{
	width:1000px;
	height:88px;
	position:relative;
	top:80px;
	left:200px;
}
.e1 ul li{
	position:relative;
	top:-85px;
	left:-95px;
	color:#fff;
	width:180px;
	margin-left:-20px;
	float:left;
	height:88px;
	text-align:left;
	font-size: 16px;
}
.e2{
	width:860px;
	height:141px;
	position:relative;
	top:-50px;
	left:95px;
}
.e2 ul li{
	position: relative;
	top:-90px;
	left:-95px;
	color:#fff;
	text-align: left;
	font-size: 14px;
	line-height:24px;
}
.e3{
	position:relative;
	top:-67px;
	left:50px;
}
.e4{
	position:relative;
	top:-270px;
	left:870px;
	height:196px;
	width:320px;
	color:#fff;
	font-size: 14px;
	line-height: 24px;
}
.e5{
	position:relative;
	top:47px;
	left:-600px;
	font-size: 12px;
	color:#fff;
}
.e6{
	position:relative;
	width:700px;
	top:10px;
	left:500px;
	font-size: 12px;
	color:#fff;
}
.f{
	width:86px;
	height:310px;
	position:fixed;
	top:303px;
	right:70px;
}
.f ul{
	width:86px;
	height:310px;
}
.f ul li{
	padding-top: 7px;
	background-color:#b0b0b0;
	float:left;
	width:86px;
	height:76px;
	border-bottom:1px  solid #fff;
	font-size: 14px;
	color:#fff;
	text-align: center;
}
.z{
	position:absolute;
	top:-470px;
	right:20px;
}
